<div class="main f_r" style='width:765px;'>

	<div class="uc_title m_10">
		<label><span><a href='{url:/ucenter/account_log}'>交易记录</a></span></label>
		<label class="current"><span><a href='{url:/ucenter/withdraw}'>提现申请</a></span></label>
	</div>

	<div class="prompt m_10">
		<p>账户余额：<b class="orange f14">￥{$this->memberRow['balance']}</b></p>
	</div>

	<div class="node">
		<table class='list_table' width='100%' cellspacing='0' cellpadding='0'>
			<col />
			<col width="120px" />
			<col width="100px" />
			<col width="140px" />
			<col width="80px" />
			<col width="80px" />
		</table>

		<div class="form_content">
			<form action='{url:/ucenter/docart}' method='post' name='docart'>
				<table class="form_table mt_10" width="100%" cellpadding="0" cellspacing="0">
					<col width="120px" />
					<col />
					<tr>
						<th>银行卡真实姓名：</th>
						<td>
							<input type="text" class="normal" name='true_name' pattern='required' alt='请填写银行卡真实姓名：' />
							<label><span class='red'>*</span> 银行卡真实姓名：</label>
						</td>
					</tr>
					<tr>
						<th>银行卡号</th>
						<td>
							<input type="text" class="normal" name='cart' pattern='float' alt='填写银行卡号' />
							<label><span class='red'>*</span> 银行卡号</label>
						</td>
					</tr>

					<tr><th></th><td><label class="btn"><input type="submit" value="提交" /></label><label class="btn"><input type="reset" value="取消" /></label></td></tr>
				</table>
			</form>
		</div>
	</div>
</div>

<script type='text/javascript'>
	var formObj = new Form('docart');
	formObj.init({
		'true_name':'{$this->withdrawRow['true_name']}',
		'cart':'{$this->withdrawRow['cart']}'
	});
</script>
