{set:$seller_id = isset($this->billRow['seller_id']) ? $this->billRow['seller_id'] : 0}
<div class="headbar">
	<div class="position"><span>统计</span><span>></span><span>商户数据统计</span><span>></span><span>货款结算单修改</span></div>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action="{url:/market/bill_update}"  method="post" name="bill_edit">
			<input type='hidden' name='id' />
			<table class="form_table">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>
				<tr>
					<th>商户名称：</th>
					<td>{query:name=seller where=id eq $seller_id}{$item['seller_name']}{/query}</td>
				</tr>
				<tr>
					<th>结算货款起止时间：</th>
					<td>
						<input type='text' class="small" name='start_time' pattern='date' alt='开始日期' title="开始日期" disabled="disabled" />
						<input type='text' class="small" name='end_time' pattern='date' alt='结束日期' title="结束日期" disabled="disabled" />
					</td>
				</tr>
				<tr>
					<th>结算信息：</th>
					<td><textarea name="log" disabled="disabled"></textarea></td>
				</tr>
				<tr>
					<th>申请结算附言：</th>
					<td>
						<textarea name="apply_content" disabled="disabled"></textarea>
					</td>
				</tr>
				<tr>
					<th>管理员回复：</th>
					<td>
						<textarea name="pay_content"></textarea>
					</td>
				</tr>
				<tr>
					<th>是否同意结算：</th>
					<td>
						<label class="attr"><input type="radio" name="is_pay" value="1" />是</label>
						<label class="attr"><input type="radio" name="is_pay" value="0" />否</label>
					</td>
				</tr>
				<tr><th></th><td><button class="submit" type='submit'><span>确 定</span></button></td></tr>
			</table>
		</form>
	</div>
</div>

<script type="text/javascript">
//表单回填
var formObj = new Form('bill_edit');
formObj.init({echo:JSON::encode($this->billRow)});
</script>