{set:$seo_data=array(); $site_config=new Config('site_config');}
{set:$seo_data['title'] = $this->catRow['title']?$this->catRow['title']:$this->catRow['name']}
{set:$seo_data['title'].="_".$site_config->name}
{set:$seo_data['keywords']=$this->catRow['keywords']}
{set:$seo_data['description']=$this->catRow['descript']}
{set:seo::set($seo_data);}
{set:$breadGuide = goods_class::catRecursion($this->catId)}

<div class="position">
	<span>您当前的位置：</span>
	<a href="{url:}">首页</a>{foreach:items=$breadGuide} » <a href="{url:/site/pro_list/cat/$item[id]}">{$item['name']}</a>{/foreach}
</div>

<div class="wrapper clearfix container_2" style='width:998px;'>

	<div class="sidebar f_l">
	</div>

	<div class="main f_r" style='width:998px;margin-top:5px;'>
		<!--推荐商品-->
	  	{query:name=category_extend as ca
	  		join  = left join goods as go on ca.goods_id eq go.id left join commend_goods as co on co.goods_id eq go.id
	  		where = ca.category_id in ($this->childId) and co.commend_id eq 4 and go.is_del eq 0
	  		items = $pro_list
	  		limit = 9
	  		order = go.sort asc,go.id desc
	  		fields= DISTINCT go.img,go.sell_price,go.name,go.id,go.market_price,go.description /}
	  	{if:$pro_list}
		<div class="brown_box m_10 clearfix">
			<p class="caption"><span>推荐</span></p>

			<ul class="prolist">
				{foreach:items=$pro_list}
				<li>
					<a class="pic" href="{url:/site/products/id/$item[id]}"><img src="{webroot:}{$item['img']}" alt="{$item['name']}" height="85px" width="85px"></a>
					<p class="pro_title"><a href="{url:/site/products/id/$item[id]}">{$item['name']}</a></p>
					<p><b style='color:#F84476;'>￥{$item['sell_price']}</b> <s>￥{$item['market_price']}</s></p>
				</li>
				{/foreach}
			</ul>
		</div>
		{/if}
		<!--推荐商品-->

		<!--顶级栏目-->
		<div class='newfenlei'>
			<ul>
			<?php $c = 0; ?>
				{query:name=category where=parent_id eq 0 order=sort asc item = $second}
							<li class="newcategory{$c}">
								<a href="{url:/site/pro_list/cat/$second[id]}">{$second['name']}</a>
							</li>
				<?php $c++; ?>
				{/query}
			</ul>
		</div>
		<!--顶级栏目-->
			
		<div class="box m_10" style='border-top:none;'>
			<div class="cont">
				<!--品牌展示-->
				{query:name= category_extend as ca
					join   = left join goods as go on ca.goods_id eq go.id left join brand as b on b.id eq go.brand_id
					where  = ca.category_id in ( $this->childId ) and go.is_del eq 0 and go.brand_id neq 0
					fields = DISTINCT b.id,b.name
					limit  = 10
					items  = $brandList /}
				{if:$brandList}
				<dl class="sorting">
					<dt>品牌：</dt>
					<dd id='brand_dd'>
						<a class="current" href="{echo:search_goods::searchUrl('brand','')}">不限</a>
						{foreach:items = $brandList}
						<a href="{echo:search_goods::searchUrl('brand',$item['id'])}" id='brand_{$item['id']}'>{$item['name']}</a>
						{/foreach}
					</dd>
				</dl>
				{/if}
				<!--品牌展示-->
				
			
				<!-- 类别 -->
				
				<!--  一 -->
				{query:name= category as ca
					where  = ca.parent_id eq $this->catId
					fields = DISTINCT ca.id,ca.name
					items  = $cateList /}
				{if:$cateList}
				<dl class="sorting">
					<dt>专题活动：</dt>
					<dd id='onecate_dd'>
						<a class="current" href="{echo:search_goods::searchUrl(array('onecate','in'),'')}">不限</a>
						{foreach:items = $cateList}
						<a href="{echo:search_goods::searchUrl('onecate',$item['id'])}" id='onecate_{$item['id']}'>{$item['name']}</a>
						{/foreach}
					</dd>
				</dl>
				{/if}
				<!--  一 -->
				
				<!--  二 -->
				{if:$this->onecateId}
				{query:name= category as c
					where  = c.parent_id eq $this->onecateId
					fields = DISTINCT c.id,c.name
					items  = $cList /}
				{if:$cList}
				<dl class="sorting">
					<dt>分类：</dt>
					<dd id='in_dd'>
						<a class="current" href="{echo:search_goods::searchUrl('in','')}">不限</a>
						{foreach:items = $cList}
						<a href="{echo:search_goods::searchUrl('in',$item['id'])}"   id='in_{$item['id']}' >{$item['name']}</a>
						{/foreach}
					</dd>
				</dl>
				{/if}
				{/if}
				<!--  二 -->

				<!-- 类别 -->
				
				<!--商品属性-->
				{query:name=category as ca join=left join attribute as attr on ca.model_id eq attr.model_id
					where = ca.id eq $this->catId and attr.search eq 1
					fields= distinct attr.name,attr.name as name,attr.id ,attr.value as value
				}
				<dl class="sorting">
					<dt>{$item['name']}：</dt>
					<dd id="attr_dd_{$item['id']}">
						<a class="current" href="{echo:search_goods::searchUrl('attr['.$item["id"].']','')}">不限</a>
						{set:$attrVal = explode(',',$item['value']);}
						{foreach:items=$attrVal item=$attr}
						<a href="{echo:search_goods::searchUrl('attr['.$item["id"].']',$attr)}" id="attr_{$item['id']}_{echo:urlencode($attr)}">{$attr}</a>
						{/foreach}
					</dd>
				</dl>
				{/query}
				<!--商品属性-->

				<!--商品规格-->
				{if:$this->spec}
				{foreach:items = $this->spec}
				<dl class="sorting">
					<dt>{$item['name']}：</dt>
					<dd id='spec_dd_{$item['id']}'>
						<a class="current" href="{echo:search_goods::searchUrl('spec['.$item["id"].']','')}">不限</a>
						{if:$item['type'] == 1}
						{foreach:items=JSON::decode($item['value']) item = $spec}
						<a href="{echo:search_goods::searchUrl('spec['.$item["id"].']',$spec)}" id='spec_{$item['id']}_{echo:urlencode($spec)}'>{$spec}</a>
						{/foreach}
						{else:}
						{foreach:items=JSON::decode($item['value']) item = $spec}
						<a href="{echo:search_goods::searchUrl('spec['.$item["id"].']',$spec)}" id='spec_{$item['id']}_{echo:urlencode($spec)}'><img src='{webroot:$spec}' style='width:20px;height:20px' /></a>
						{/foreach}
						{/if}
					</dd>

				</dl>
				{/foreach}
				{/if}
				<!--商品规格-->

				<!--商品价格-->
				<dl class="sorting"  style='width:920px;border-top:none;'>
					<dt>价格：</dt>
					<dd id='price_dd'>
						<p class="f_r"><input type="text" class="mini" name="min_price" value="{echo:IFilter::act(IReq::get('min_price'),'url')}" onchange="checkPrice(this);"> 至 <input type="text" class="mini" name="max_price" onchange="checkPrice(this);" value="{echo:IFilter::act(IReq::get('max_price'),'url')}"> 元
						<label class="btn_gray_s"><input type="button" onclick="priceLink();" value="确定"></label></p>
						<a class="current" href="{echo:search_goods::searchUrl(array('min_price','max_price'),'')}">不限</a>
						{set:$goodsPrice = goods_class::getGoodsPrice($this->childId)}
						{foreach:items=$goodsPrice}
						{set:$priceZone = explode('-',$item)}
						<a href="{echo:search_goods::searchUrl(array('min_price','max_price'),array($priceZone[0],$priceZone[1]))}" id="{$priceZone[0]}-{$priceZone[1]}">{$item}</a>
						{/foreach}
					</dd>
				</dl>
				<!--商品价格-->
			</div>

		<!--商品列表展示-->
		<div class="display_title">
			<ul>
				{foreach:items=search_goods::getOrderType()}
				{set:$next = search_goods::getOrderValue($key)}
				<li class="{echo:search_goods::isOrderCurrent($key) ? 'current':''}">
					<a href="{echo:search_goods::searchUrl('order',$next)}">{$item}<span class="{echo:search_goods::isOrderDesc() ? 'desc':''}">&nbsp;</span></a>
				</li>
				{/foreach}
			</ul>
			
			<span class="f_l">显示方式：</span>
			<a class="show_b" href="{echo:search_goods::searchUrl('show_type','win')}" title='橱窗展示' alt='橱窗展示'><span class='{echo:search_goods::getListShow(IReq::get('show_type')) == 'win' ? 'current':''}'></span></a>
			
		</div>
	</div>
		
		{set:$goodsObj = search_goods::find(array('category_extend' => $this->childId,'newsort'=>'sort'));$resultData = $goodsObj->find()}
		{if:$resultData}
		{set:$listSize = search_goods::getListSize(IFilter::act(IReq::get('show_type')))}
		<ul class="display_list clearfix m_10">	
			{foreach:items=$resultData}
				<?php 
					if($item['fan_money'] != 0){
						$item['zhe'] = number_format(($item['sell_price']-$item['fan_money'])/$item['sell_price'],2)*10;	
					}
				?>
			<li class="clearfix {echo:search_goods::getListShow(IFilter::act(IReq::get('show_type')))}">
				<a title="{$item['name']}" class="p_name" href="{url:/site/products/id/$item[id]}">{$item['name']}</a>
				<div class="pic">
					<a title="{$item['name']}" href="{url:/site/products/id/$item[id]}"><img src="{webroot:}{$item['img']}" width="280" height="300" alt="{$item['name']}" title="{$item['name']}" /></a>
				</div>
				<div class="price">
					<div class='prot'>
					<span>￥{$item['sell_price']}</span> &nbsp;返利￥{$item['fan_money']} <p>销量: {$item['sale']}</p><br>
					</div>
					<div class='prob'>
					<p style='float:left;margin-top:10px;margin-left:5px;'>剩余:{$item['store_nums']}</p>
					<?php if($item['zhe']){?><p style='float:left;margin-top:10px;margin-left:15px;color:#FF4400;font-size:12px;'>{$item['zhe']} 折</p><?php }else{}?>
					<a title="{$item['name']}" class='newa' href="{url:/site/products/id/$item[id]}">我要抢购</a>
					</div>
				</div>
			</li>
			{/foreach}
		</ul>
		{$goodsObj->getPageBar()}
		{else:}
		<p class="display_list mt_10" style='margin-top:50px;margin-bottom:50px'>
			<strong class="gray f14">对不起，没有找到相关商品</strong>
		</p>
		{/if}
		<!--商品列表展示-->

				</div>
			</div>

<script type='text/javascript'>
//价格跳转
function priceLink()
{
	var minVal = $('[name="min_price"]').val();
	var maxVal = $('[name="max_price"]').val();
	if(isNaN(minVal) || isNaN(maxVal))
	{
		alert('价格填写不正确');
		return '';
	}
	var urlVal = "{echo:IFilter::act(preg_replace('|&min_price=\w*&max_price=\w*|','',search_goods::searchUrl(array('min_price','max_price'),'')),'url')}";
	window.location.href=urlVal+'&min_price='+minVal+'&max_price='+maxVal;
}

//价格检查
function checkPrice(obj)
{
	if(isNaN(obj.value))
	{
		obj.value = '';
	}
}

//筛选条件按钮高亮
$(document).ready(function(){
	
	{set:
		$attr_spec = Array('attr','spec');
		$onecate = IFilter::act(IReq::get('onecate'),'int');
	}
	{if:!empty($onecate)}
	$('#onecate_dd>a').removeClass('current');
	$('#onecate_{$onecate}').addClass('current');
	{/if}
	
	{set:
		$attr_spec = Array('brand','spec');
		$brand = IFilter::act(IReq::get('brand'),'int');
	}
	{if:!empty($brand)}
	$('#brand_dd>a').removeClass('current');
	$('#brand_{$brand}').addClass('current');
	{/if}
	
	{set:
		$attr_spec = Array('attr','spec');
		$myin = IFilter::act(IReq::get('in'),'int');
	}
	{if:!empty($myin)}
	$('#in_dd>a').removeClass('current');
	$('#in_{$myin}').addClass('current');
	{/if}

	{foreach:items = $attr_spec}
	{set:$tempArray = IFilter::act(IReq::get($item),'url')}
	{if:!empty($tempArray)}
		{set:$json = JSON::encode(array_map('urlencode',$tempArray))}
		var attrArray = {$json};
		for(val in attrArray)
		{
			if(attrArray[val])
			{
				$('#{$item}_dd_'+val+'>a').removeClass('current');
				document.getElementById('{$item}_'+val+'_'+attrArray[val]).className = 'current';
			}
		}
	{/if}
	{/foreach}

	{if:IReq::get('min_price') != ''}
	$('#price_dd>a').removeClass('current');
	$('#{echo:IReq::get('min_price')}-{echo:IReq::get('max_price')}').addClass('current');
	{/if}
});
</script>
