{set:
$this->startDate = IFilter::act(IReq::get('startDate'));
$this->endDate   = IFilter::act(IReq::get('endDate'));
$countData = statistics::sellerAmount($this->seller['seller_id'],$this->startDate,$this->endDate);
}
{js:my97date}
{js:chart}

<article class="module width_full">
	<header>
		<h3 class="tabs_involved">销售统计</h3>
		<ul class="tabs">
			<li>
				<form action="{url:}" method="get">
					<input type='hidden' name='controller' value='seller' />
					<input type='hidden' name='action' value='account' />
					<input type="text" name='startDate' value='{$this->startDate}' class="Wdate" pattern='date' onFocus="WdatePicker()" empty />————
					<input type="text" name='endDate' value='{$this->endDate}' class="Wdate" pattern='date' onFocus="WdatePicker()" empty />
					<input type="submit" class="alt_btn" value="查询" />
				</form>
			</li>
		</ul>
	</header>

	<div class="module_content">
		<div id="myChart" style="width:100%;min-height:320px;"></div>
	</div>
</article>

<script type='text/javascript'>
//图表生成
$(function()
{
	//图标模板
	userHighChart = $('#myChart').highcharts(
	{
		title:
		{
			text:'销售统计'
		},
		xAxis:
		{
			title:
			{
				text:'时间'
			},
			categories:{echo:JSON::encode(array_keys($countData))},
		},
		yAxis:
		{
			title:
			{
				text:'销售额(元)'
			},
		},
		series:
		[
			{
				name:'销售额',
				data:{echo:JSON::encode(array_values($countData))}
			}
		],
		tooltip:
		{
			valueSuffix:'元'
		}
	});
})
</script>