{set:$id = IFilter::act(IReq::get('id'),'int')}
{query: name=refer as r join=left join goods as goods on r.goods_id eq goods.id left join user as u on r.user_id eq u.id left join admin as admin on r.admin_id eq admin.id left join seller as se on se.id eq r.seller_id fields=se.seller_name,r.*,u.username,goods.name as goods_name,goods.id as goods_id,admin.admin_name where=r.id eq $id}{/query}

<article class="module width_full">
	<header>
		<h3>咨询回复</h3>
	</header>

	<form action="{url:/seller/refer_reply}" method="post" name="refer_edit">
		<input type="hidden" value="{$item['id']}" name="refer_id" />

		<div class="module_content">
			<fieldset>
				<label>咨询人</label>
				<div class="box">
					{if:isset($item['username'])}<a href="{url:/member/member_edit/uid/$item[user_id]}">{$item['username']}</a>{else:}非会员顾客{/if}
				</div>
			</fieldset>

			<fieldset>
				<label>咨询时间</label>
				<div class="box">
					{$item['time']}
				</div>
			</fieldset>

			<fieldset>
				<label>咨询内容</label>
				<div class="box">
					{$item['question']}
				</div>
			</fieldset>

			<fieldset>
				<label>回复</label>
				<div class="box">
					<textarea name="content" rows="" cols="">{$item['answer']}</textarea>
				</div>
			</fieldset>
		</div>

		<footer>
			<div class="submit_link">
				<input type="submit" class="alt_btn" value="回 复" />
				<input type="reset" value="重 置" />
			</div>
		</footer>
	</form>
</article>