{set:
	$myCartObj  = new Cart();
	$myCartInfo = $myCartObj->getMyCart();
	$siteConfig = new Config("site_config");
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{echo:$siteConfig->name}</title>
	<link rel="stylesheet" href="{skin:css/index.css}" />
	<link rel="shortcut icon" href="favicon.ico" />
	{js:jquery}
	{js:form}
	{js:dialog}
	{js:validate}
	{js:artTemplate}
	<script type='text/javascript' src="{theme:javascript/common.js}"></script>
	<script type='text/javascript' src='{theme:javascript/site.js}'></script>
	<script type='text/javascript'>
		//用户中心导航条
		function menu_current()
		{
		    var current = "{echo:$this->getAction()->getId()}";
		    if(current == 'consult_old') current='consult';
		    else if(current == 'isevaluation') current ='evaluation';
		    else if(current == 'withdraw') current = 'account_log';
		    var tmpUrl = "{url:/ucenter/current}";
		    tmpUrl = tmpUrl.replace("current",current);
		    $('div.cont ul.list li a[href^="'+tmpUrl+'"]').parent().addClass("current");
		}
	</script>
</head>
<body class="index">
<div class="yizhe_top">
	<div class="loginfo">
		{if:$this->user}
		<span style='color:#FF4254;margin-left:-45px;'>{echo:$this->user['username']}</span><span style='color:#666666;margin-left:10px;'> 您好，欢迎您来到{echo:$siteConfig->name}购物！</span>&nbsp;&nbsp;&nbsp;<a href="{url:/simple/logout}" class="reg" style='color:#FC6E7C;'>安全退出</a>
		{else:}
		<ul class='loginfo_ul'>
			<li><a href="{url:/simple/login?callback=$callback}">登录</a></li>
			<li style='width:5px;'>|</li>
			<li><a href="{url:/simple/reg?callback=$callback}" style='margin-left:10px;'>免费注册</a></li>
		</ul>
		{/if}
		<ul class="shortcut">
				<li class="first" style='background:#F5F5F5;'><a href="{url:/ucenter/index}">我的账户</a></li>|
				<li  style='background:#F5F5F5;'><a href="{url:/ucenter/order}">我的订单</a></li>|
				<li  style='background:#F5F5F5;'><a href="{url:/index.php?controller=systemseller&action=index}">商家管理</a></li>|
				<li class='last'  style='background:#F5F5F5;'><a href="{url:/site/help_list}">使用帮助</a></li>|
		</ul>
	</div>
</div>
<div class="ucenter container">
	<div class="header">
		<h1 class="logo"><a title="{echo:$siteConfig->name}" style="background:url({skin:images/front/logo.gif});" href="{url:}">{echo:$siteConfig->name}</a></h1>
		<div class="searchbox">
			<form method='get' action='{url:/}'>
				<input type='hidden' name='controller' value='site' />
				<input type='hidden' name='action' value='search_list' />
				<input class="text" type="text" name='word' autocomplete="off" value="输入关键字..." />
				<input class="btn" type="submit" value="Go!" onclick="checkInput('word','输入关键字...');" />
			</form>
			<!--自动完成div 开始-->
			<ul class="auto_list" style='display:none'></ul>
			<!--自动完成div 开始-->
		</div>
	<!-- 	<div class="hotwords">热门搜索：
			{query:name=keyword where=hot eq 1 limit=5 order=`order` asc}
			{set:$tmpWord = urlencode($item['word']);}
			<a href="{url:/site/search_list/word/$tmpWord}">{$item['word']}</a>
			{/query}
		</div> -->
	</div>
	<div class="navbar">
		<ul>
			<li><a href="{url:}">首页</a></li>
			{query:name=guide}
			<li><a href="{$item['link']}">{$item['name']}<span> </span></a></li>
			{/query}
		</ul>
	
	</div>

	

	<div class="position" style='margin-top:3px;'>
		您当前的位置： <a href="{url:}">首页</a> » <a href="{url:/ucenter/index}">我的账户</a>
	</div>
	<div class="wrapper clearfix" style="margin-top:20px;">
		<div class="sidebar f_l">
			<img src="{skin:images/front/ucenter/ucenter.gif}" width="180" height="40" />
			<div class="box">
				<div class="title"><h2>交易记录</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/order}">我的订单</a></li>
						<li><a href="{url:/ucenter/integral}">我的积分</a></li>
					
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg2'>服务中心</h2></div>
				<div class="cont">
					<ul class="list">
						
						<li><a href="{url:/ucenter/complain}">站点建议</a></li>
						<li><a href="{url:/ucenter/consult}">商品咨询</a></li>
						<li><a href="{url:/ucenter/evaluation}">商品评价</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg3'>应用</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/message}">短信息</a></li>
						<li><a href="{url:/ucenter/favorite}">收藏夹</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg4'>账户资金</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/account_log}">帐户余额</a></li>
						<li><a href="{url:/ucenter/online_recharge}">在线充值</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg5'>个人设置</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/address}">地址管理</a></li>
						<li><a href="{url:/ucenter/info}">个人资料</a></li>
						<li><a href="{url:/ucenter/password}">修改密码</a></li>
					</ul>
				</div>
			</div>
		</div>
		{viewcontent}
	</div>

	<div class="help m_10">
		<div class="cont clearfix">
			{query:name=help_category where=position_foot eq 1 order=sort ASC,id desc limit=5 item=$helpCat}
			<dl>
     			<dt><a href="{url:/site/help_list/id/$helpCat[id]}">{$helpCat['name']}</a></dt>
     			{query:name=help where=cat_id eq $helpCat[id] order=sort ASC,id desc}
					<dd><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a></dd>
				{/query}
      		</dl>
      		{/query}
		</div>
	</div>
	{echo:IFilter::stripSlash($siteConfig->site_footer_code)}
</div>
<script type='text/javascript'>
//DOM加载完毕后运行
$(function()
{
	$(".tabs").each(function(i){
	    var parrent = $(this);
		$('.tabs_menu .node',this).each(function(j){
			var current=".node:eq("+j+")";
			$(this).bind('click',function(event){
				$('.tabs_menu .node',parrent).removeClass('current');
				$(this).addClass('current');
				$('.tabs_content>.node',parrent).css('display','none');
				$('.tabs_content>.node:eq('+j+')',parrent).css('display','block');
			});
		});
	});

	//隔行换色
	$(".list_table tr:nth-child(even)").addClass('even');
	$(".list_table tr").hover(
		function () {
			$(this).addClass("sel");
		},
		function () {
			$(this).removeClass("sel");
		}
	);

	menu_current();

	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete('{url:/site/autoComplete}','{url:/site/search_list/word/@word@}','{$siteConfig->auto_finish}');}
	});

	{set:$word = IReq::get('word') ? IFilter::act(IReq::get('word'),'text') : '输入关键字...'}
	$('input:text[name="word"]').val("{$word}");

	//购物车div层
	$('.mycart').hover(
		function(){
			showCart('{url:/simple/showCart}');
		},
		function(){
			$('#div_mycart').hide('slow');
		}
	);
});
</script>
</body>
</html>
