{js:artTemplate}
<script type='text/javascript' src='{theme:javascript/artTemplate/area_select.js}'></script>

<div class="headbar">
	<div class="position"><span>会员</span><span>></span><span>商户管理</span><span>></span><span>编辑商户</span></div>
</div>

<div class="content_box">
	<div class="content form_content">
		<form action="{url:/member/seller_add}" method="post" name="sellerForm" enctype='multipart/form-data'>
			<input name="id" value="" type="hidden" />

			<table class="form_table">
				<colgroup>
					<col width="150px" />
					<col />
				</colgroup>

				<tbody>
					<tr>
						<th>登陆用户名：</th>
						<td><input class="normal" name="seller_name" type="text" value="" pattern="required" alt="用户名不能为空" /><label>* 用户名称（必填）</label></td>
					</tr>
					<tr>
						<th>密码：</th><td><input class="normal" name="password" type="password" bind='repassword' empty /><label>* 登录密码</label></td>
					</tr>
					
					<tr>
						<th>商户真实全称：</th>
						<td><input class="normal" name="true_name" type="text" value="" pattern="required" /></td>
					</tr>
					<tr>
						<th>商户资质材料：</th>
						<td>
							<input type='file' name='paper_img' />
							{if:isset($this->sellerRow['paper_img']) && $this->sellerRow['paper_img']}
							<p><a target="_blank" href="{webroot:}{$this->sellerRow['paper_img']}"><img src='{webroot:}{$this->sellerRow['paper_img']}' style='width:320px;border:1px solid #ccc' /></a></p>
							{/if}
						</td>
					</tr>
					<tr>
						<th>保证金数额：</th>
						<td><input type="text" class="normal" name="cash" pattern="float" empty disabled /><label>人民币（元）</label></td>
					</tr>
					<tr>
						<th>收款账号：</th>
						<td><textarea class="normal" name="account" empty></textarea><label>标明开户行，卡号，账户名称等</label></td>
					</tr>
					<tr>
						<th>固定电话：</th>
						<td><input type="text" class="normal" name="phone" pattern="phone" /></td>
					</tr>
					<tr>
						<th>手机号码：</th>
						<td><input type="text" class="normal" name="mobile" pattern="mobi" /></td>
					</tr>
					<tr>
						<th>邮箱：</th>
						<td><input type="text" class="normal" name="email" pattern="email" empty /></td>
					</tr>
					<tr>
						<th>地区：</th>
						<td>
							<select name="province" child="city,area" onchange="areaChangeCallback(this);"></select>
							<select name="city" child="area" parent="province" onchange="areaChangeCallback(this);"></select>
							<select name="area" parent="city"></select>
						</td>
					</tr>
					<tr>
						<th>详细地址：</th><td><input class="normal" name="address" type="text" empty value="" /></td>
					</tr>
					<tr>
						<th>客服QQ号码：</th>
						<td><input class="normal" name="server_num" type="text" empty value="" /><label>输入客服QQ号码，可以商品详情页面对客户进行解答</label></td>
					</tr>
					<tr>
						<th>企业官网：</th>
						<td><input class="normal" name="home_url" type="text" pattern="url" empty value="" /><label>填写完整的网址，如：http://www.aircheng.com</label></td>
					</tr>
					<tr>
						<th>是否开通：</th>
						<td>
							<label class='attr'><input type='radio' name='is_lock' value='0' checked='checked' />开通</label>
							<label class='attr'><input type='radio' name='is_lock' value='1' />锁定</label>
							<label>锁定后商户无法登陆进行管理</label>
						</td>
					</tr>
					<tr>
						<th>是否VIP：</th>
						<td>
							<label class='attr'><input type='radio' name='is_vip' value='0' checked='checked' />否</label>
							<label class='attr'><input type='radio' name='is_vip' value='1' />是</label>
						</td>
					</tr>
					<tr>
						<td></td><td><button class="submit" type="submit"><span>确 定</span></button></td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<script language="javascript">
//DOM加载完毕
$(function(){
	//初始化地域联动
	template.compile("areaTemplate",areaTemplate);

	//修改模式
	{if:isset($this->sellerRow)}
		var formObj = new Form('sellerForm');
		formObj.init({echo:JSON::encode($this->sellerRow)});

		//城市设置
		{if:isset($this->sellerRow['area'])}
			createAreaSelect('province',0,"{$this->sellerRow['province']}");
			createAreaSelect('city',"{$this->sellerRow['province']}","{$this->sellerRow['city']}");
			createAreaSelect('area',"{$this->sellerRow['city']}","{$this->sellerRow['area']}");
		{else:}
			createAreaSelect('province',0,"");
		{/if}

		//锁定字段一旦注册无法修改
		if($('[name="id"]').val())
		{
			var lockCols = ['seller_name'];
			for(var index in lockCols)
			{
				$('input:text[name="'+lockCols[index]+'"]').addClass('readonly');
				$('input:text[name="'+lockCols[index]+'"]').attr('readonly',true);
			}
		}
	{else:}
		createAreaSelect('province',0,'');
	{/if}
});

/**
 * 生成地域js联动下拉框
 * @param name
 * @param parent_id
 * @param select_id
 */
function createAreaSelect(name,parent_id,select_id)
{
	//生成地区
	$.getJSON("{url:/block/area_child}",{"aid":parent_id,"random":Math.random()},function(json)
	{
		$('[name="'+name+'"]').html(template.render('areaTemplate',{"select_id":select_id,"data":json}));
	});
}
</script>
